.btn-jaco{
    width: 165px;
    height: 52px;
    padding: 16px 32px;
    background: #FF7A00;
    border-radius: 4px;
    color: #FFFFFF;
    font: 400 16px Montserrat;
}
.btn{
    width: 173px;
    height: 52px;
    padding: 16px 32px;
    background: #222222;
    border: 1px solid #FFF2E5;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    font: 400 16px Montserrat;
}