.btn-jaco{
    width: 165px;
    height: 52px;
    padding: 16px 32px;
    background: #FF7A00;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    font: 400 16px Montserrat;
    border: none;
    transition: ease .5s ;
}
.btn-jaco:hover{
    background: #DA6401;
    box-sizing: border-box;
}

.btn{
    width: 165px;
    height: 52px;
    padding: 16px 32px;
    background: #222222;
    border: 1px solid #FFF2E5;
    box-sizing: border-box;
    border-radius: 4px;
    color: #FFFFFF;
    font: 400 16px Montserrat;
    transition: ease .5s ;
}
.btn:hover{
    border: 1px solid #FFF2E5;
    box-sizing: border-box;
    background: #3D3A37;
}