.ourteam{
    padding: 106px 0 116px;

    &-container{

        &-item{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &-title{
                text-align: right;
                margin-right: 0;
            }
        }
    }
    &__link{
        
        &-img:not(:last-of-type){
            margin-right: 8px;
            
           
        }
         &-img-shadow{
           margin-right: 24px;
           }
       
       &-btn{
           position: relative;
           width: 53px;
           height: 53px;
           background-color:#FFF2E5;
           border: none;
           margin-left: 16px;
           bottom: 24px;

           &:before{
               content: "";
               position: absolute;
               background-color:#FF7A00;
               width: 20px;
               height: 4px;
               border-radius: 10px;
               transform: rotate(45deg);
               top: 20px;
               left: 15px;
           }

           &::after{
            content: "";
            position: absolute;
            background-color: #FF7A00;
            width: 20px;
            height: 4px;
            border-radius: 10px;
            transform: rotate(-45deg);
            top: 32px;
            left: 15px;
        }
           
       }

        &-img-shadow{
            box-shadow: 16px 16px 0 0 #FF7A00,
            16px -16px 0 0 #FF7A00;
        }
    }
    &__item{
        max-width: 441px;
        width: 100%;

        &-title{
            font: 400 32px Montserrat;
            text-align: start;
            color: #FF7A00;
            margin-bottom: 24px;
        }
        &-description{
            font: 300 16px Montserrat;
            line-height: 20px;
            color: #222222;
        }
    }
}