.services{
    padding: 88px 0 106px;

    &-png{
        background-image: url(../images/mignon_hemsley.png);
        background-size: cover;
        background-position: left center;
        max-width: 1100px;
        width: 100%;
        height: 718px;

        &-title{
            padding-left: 24px;
            position: relative;
        }
    }
}